.more {
  width: 100vw;
  height: 100vh;
  background-color: #121112;
  display: grid;
  place-content: center;
}
.more-wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.model {
  color: white;
  font-size: 1.5rem;
}
.crousel {
  width: 80vw;
  height: 80vh;
  position: relative;
}

.current {
  position: absolute;
  width: 30rem;
  height: 40rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  z-index: 3;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(49, 49, 49);
  border-radius: 6rem;
  box-shadow: 0 0 7rem 2rem black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side {
  position: absolute;
  width: 20rem;
  height: 30rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: all 0.3s ease;
  background-color: rgb(49, 49, 49);
  border-radius: 6rem;
  box-shadow: 0 0 7rem 2rem black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  left: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-out {
  position: absolute;
  width: 10rem;
  height: 15rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: -50%;
  transition: all 0.3s ease;
  background-color: rgb(49, 49, 49);
  border-radius: 6rem;
  box-shadow: 0 0 7rem 2rem black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-out {
  position: absolute;
  width: 10rem;
  height: 15rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: -50%;
  transition: all 0.3s ease;
  background-color: rgb(49, 49, 49);
  border-radius: 6rem;
  box-shadow: 0 0 7rem 2rem black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  right: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: drop-shadow(0 0  1rem black);
  z-index: 2;
}
.one {
  background-image: url("../../images/model1.png");
}

.two {
  background-image: url("../../images/model4.png");
}
.three {
  background-image: url("../../images/model3.png");
}
.four {
  background-image: url("../../images/model2.png");
}
.five {
  background-image: url("../../images/model5.png");
}
.previous-btn {
  position: absolute;
  left: 0;
  top: 50%;
}
.next-btn {
  position: absolute;
  right: 0;
  top: 50%;
}
.arrow {
  z-index: 10;
  color: white;
  transform: scale(7);
  font-weight: lighter;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}